@import url("./style.css");

.flex-column{
  display: flex;
  flex-direction: column;
}

/* Banner */

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--background-color-one);
  height: 60px;
}

.landing {
  background: #fff0 url("../media/desc-page-hero.jpg") center / cover no-repeat;
  position: relative;
  height: 900px;
  display: flex;
  justify-content: center;
  line-height: 700px;
}

.landing:before{
  position: absolute;
  background-color: var(--background-mask);
  content: "";
  height: 100%;
  width: 100%;
}

.play{
  font-size: 90px;
  z-index: 1;
  color: var(--action-button-color);
}

/* Movie Box */

.movie{
  transform: translateY(-300px);
  height: auto;
  background-color: var(--background-color-two);
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 40px 30px 60px 30px;
}

.photo-column{
  width: 150px;
}

.photo{
  width: 100%;
  height: 220px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: url("../media/desc-page-hero.jpg") center / cover no-repeat;
}

.like, .dislike{
  color: var(--font-color-one);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: auto;
}

.like p, .dislike p{
  padding: 0;
}
.like {
  background-color: var(--action-button-color);
  margin-bottom: 5px;
}

.dislike {
  background-color: var(--input-background-color);
}

.info-section{
  width: 100%;
  margin-left: 20px;
}

button[type=button]{
  padding: 10px 15px;
  width: auto;
  height: auto;
  border-radius: 20px;
}

.play-two{
  color: var(--font-color-one);
  background-color: var(--action-button-color);
}

.fa-play, .fa-plus, .fa-thumbs-up, .fa-thumbs-down{
  margin-right: 10px;
}

.watch-favorite{
  justify-content: space-between;
}

.info-section p:first-of-type{
  color: #000;
  font-size: 30px;
}

article{
  margin-bottom: 10px;
}

.stat{
  font-size: 16px;
  padding: 3px;
}

/*----------------------------------*/
/*-----------Section----------------*/
/*----------------------------------*/

h2 {
  font-size: 40px;
  color: #fff;
  padding: 50px 0px 10px 0px;
}

.section{
  margin-top: -300px;
}
section.three-column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

div.column {
  flex: 1; 
  border: 1px solid #ddd;
  margin: 0.5%; 
  width: 73px;
  height: 390px;
  border-radius: 19px;
}

.column img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  opacity: 0.7; 
  transition: opacity 0.3s ease-in-out,transform 0.3s ease-in-out;
}

.column img + .column img {
  margin-bottom: 4%;
}

.column:hover img {
  opacity: 1; 
  transform: scale(1.02);
}

.more a {
  color: #fff;
  text-decoration: underline;
  position: relative;
  left: 95%;;
}

.more a:hover {
  text-decoration: underline;
  color: #1e90ff;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex .list {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.flex .list a {
  text-decoration: none;
  color: #fff;
  padding: 7px;
  font-size: 20px;
}

.flex .list a:hover {
  text-decoration: underline;
}

.flex .space-between {
  justify-content: space-between;
}

.footer p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 19px;
}

/*----------------------------*/
/*---English/French toggle----*/
/*----------------------------*/

.section select {
  margin-bottom: 8%;
}

/*----------------------------*/
/*--------footer email--------*/
/*----------------------------*/


.footer-p p {
  color: #fff;
  padding: 80px 0px 20px 0px;
  font-size: 21px;
}

.footer-email {
  width: 75%;
}

section p span {
  color: #fff;
  padding: 0px;
  font-size: 21px;
}

footer p {
  color: rgb(255 255 255/0.4);
  height: 50px;
  width: 100%;
} 